<!DOCTYPE html>
<html lang="e">
    <!-- header -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Personal Portfolio Website using HTML and CSS only</title>
        <!-- links the stylesheet to style.css file-->
        <link rel="stylesheet" href="style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' 
        rel='stylesheet'>   
     </head>

    <!-- body -->
    <body>
        <header class="header">
            <a href="#" class="logo">Spooterfy.</a>
            
            <!-- navbar is used to seperate header from other links -->
            <nav class="navbar">
                <a href="#" class="active">Home</a>
                <a href="#">Top Tracks</a>
                <a href="#">Top Artists</a>
                <a href="#">Song Recommender</a>
            </nav>
        </header>

        <section class="home">
            <div class="home-content">
                <h1>Spooterfy</h1>
                <h3>Helper App</h3>
                <p> This app can help you to better understand your music taste, as well as help to expand your music knowledge.</p>
                <div class="btn-box">
                    <a href="#">Top Songs and Artits</a>
                    <a href="#">Song Recommender</a>
                </div>
            </div>

            <span class="home-imgHover"></span>

        </section>

    </body>

</html>
