<!DOCTYPE html>
<html lang="e">
    <!-- header -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Spooterfy: Discover Your Music</title>
        <!-- links the stylesheet to style.css file-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>   
    </head>

    <!-- body -->
    <body>
        <header class="header">
            <a href="#" class="logo">Spooterfy | Airi x JJULIIXN.</a>
            
            <!-- navbar -->
            <nav class="navbar">
                <div class="btn-box">
                    <a href="#" class="active">Home</a>
                    <a href="/login">Log In</a>
                </div>
            </nav>
        </header>

        <section class="home">
            <div class="home-content">
                <h1>Spooterfy</h1>
                <h3>Helper App</h3>
                <p>This app can help you to better understand your music taste, as well as help to expand your music knowledge, big fart litte fart.</p>
                <div class="btn-box">
                    <a href="#">Top Songs and Artist</a>
                    <a href="/rec">Song Recommender</a>
                </div>
            </div>

            <span class="home-imgHover"></span>
        </section>
    </body>
</html>
