<!DOCTYPE html>
<html>
<head>
    <title>Spootifer</title>
</head>
<body>
<body style="background-color:#040266">

    <h1>ALI is so sexxyyyyy</h1>
    <a href="/login">Log in with Spotify</a>
</body>
    <h1>OOOO JULIAN</h1>
    <a href = "/test">Log with it</a>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.38.0/css-doodle.min.js"></script>
<css-doodle style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;";>
    <style>
        @grid: 20 / 60vmin;
        background:HotPink;
        scale: 0;
        opacity: 0;
        animation: m 4s linear infinite;
        
        animation-delay: calc(
            -1s/@I * @i * @cos(@i)
        );

        @keyframes m {
            0%, 50%, 90% { scale: 0.5; opacity: 0.1 }
            25%, 75%, 100% { scale: 0.3; opacity: 0.1 }
        }
    </style>
</css-doodle>
